body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main_background {
  background-color: #8fb7d2;
  background-image:url(../img/welcome.png),
                   url(../img/polygon.png),
                   url(../img/background_photo.jpg);                    ;
  background-repeat: no-repeat;
  width: 1200px;
  height: 800px;

}

.inner_page {
  background-color: #8fb7d2;
  background-image: url(../img/background_photo.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 800px;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.main_button_brown:hover,
.main_button_brown:focus {
  background-color: #604e43;
}

.main_button_brown:active {
  background-color: #503e33;
  color: #847870;
}

.main_button_blue:hover,
.main_button_blue:focus {
  background-color: #669ec0;
}

.main_button_blue:active {
  background-color: #5496bd;
  color: #87b5d1;
}

.main_button_blue {
  background-color: #81b3d2;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
}

.main_button_brown {
  background-color: #766357;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
}

.inner_button_brown:hover,
.inner_button_brown:focus {
  background-color: #604e43;
}

.inner_button_brown:active {
  background-color: #503e33;
  color: #847870;
}

.inner_button_blue:hover,
.inner_button_blue:focus {
  background-color: #669ec0;
}

.inner_button_blue:active {
  background-color: #5496bd;
  color: #87b5d1;
}

.inner_button_blue {
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
}

.inner_button_brown {
  background-color: #766357;
  font-size: 14px;
  line-height: 21px;
}

.main_navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.navigation_list {
  list-style: none;
}

.navigation_list a {
  color: #000000;
}

.navigation_list a:visited{
  color: #a59990;
}

.navigation_list a:hover,
.navigation_list a:focus {
  color: #82b6d4;
}

.navigation_list a:active {
  color: #b7b7b7;
}

.features_list {
  list-style: none;
}

.feature_item {
  text-align: center;
}

.feature_item h3 {
  font-size: 24px;
  line-height: 26px;
}

.footer a {
  color: #000000;
}

.footer_social {
  text-align: center;
}

.footer_social ul {
  list-style: none;
}

.social_button {
  color: #000000;
}

.inner_navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.hotels_list {
  list-style: none;
}
